/RemoteCtrl/.vs
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/Debug
/RemoteCtrl/x64
/RemoteCtrl/RemoteCtrl/x64
/RemoteCtrl/RemoteCtrl/Debug
/VideoPlay/VideoPlay/VideoPlay.vcxproj.user
/VideoPlay/.vs
/VideoPlay/.vs/VideoPlay/v17/.suo
/VideoPlay/VideoClient/VideoClient.~ml
/VideoPlay/VideoPlay/Debug
/VideoPlay/VideoClient/Debug
/VideoPlay/VideoClient/小小小.mp4
/VideoPlay/VideoClient/plugins
/VideoPlay/VideoClient/股市讨论.mp4
/VideoPlay/VideoClient/菊次郎的夏天.mp3
