/RemoteCtrl/.vs
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/Debug
/RemoteCtrl/x64
/RemoteCtrl/RemoteCtrl/x64
/RemoteCtrl/RemoteCtrl/Debug
/VideoPlay/VideoPlay/VideoPlay.vcxproj.user
/VideoPlay/.vs
/VideoPlay/.vs/VideoPlay/v17/.suo
/VideoPlay/VideoClient/VideoClient.~ml
/VideoPlay/VideoPlay/Debug
/VideoPlay/VideoClient/Debug
